@code {
    [Parameter]
    public Boolean IsMouseDown { get; set; }

    Boolean IsActive;

    private void ToggleIsActive()
    {
        if (IsMouseDown)
            IsActive = !IsActive;
    }
}

<td width="25px"
    height="25px"
    class="@(IsActive ? "node wall" : String.Empty)"
    @onmouseover="ToggleIsActive"
    @onmousedown="@(() => IsActive = !IsActive)">
</td>