@code {
    [Parameter]
    public Boolean IsMouseDown { get; set; }

    Boolean IsActive;
    private String ActiveStyle = "background-color: #34495e;";

    private void ToggleIsActive()
    {
        if (IsMouseDown)
            IsActive = !IsActive;
    }
}

<td width="25px"
    height="25px"
    style="@(IsActive ? ActiveStyle : String.Empty) user-select:none; font-size: 8px"
    @onmouseover="ToggleIsActive"
    @onmousedown="@(() => IsActive = !IsActive)">
</td>

