@code {

}

<div class="container-fluid" style="background-color: #34495e; color: white">
    <div class="row d-flex align-items-center">
        <div class="col">
            <a>Pathfind Visualizer</a>
        </div>
        <div class="col">
            <a>Algorithms</a>
        </div>
        <div class="col">
            <a>Mazes & Patterns</a>
        </div>
        <div class="col">
            <a>Add Bomb</a>
        </div>
        <div class="col">
            <a class="btn" style="background-color: #1abc9c">Visualize!</a>
        </div>
        <div class="col">
            <a>Clear Board</a>
        </div>
        <div class="col">
            <a>Clear Walls & Weights</a>
        </div>
        <div class="col">
            <a>Clear Path</a>
        </div>
        <div class="col">
            <a>Speed:</a>
        </div>
        <div class="col">
            <a>&nbsp;</a>
        </div>
    </div>
</div>
